body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #1a1a1a;
    color: #fff;
}

.navbar {
    padding: 20px;
    background: rgba(0, 128, 128, 0.1);
    backdrop-filter: blur(10px);
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ffd700;
    text-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700, 0 0 30px #ffd700;
}

.navbar .logo {
    font-size: 1.5em;
    color: #00ced1;
}

.section {
    padding: 80px 20px;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    animation: fadeInUp 1s ease-in-out;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.glass {
    background: rgba(0, 128, 128, 0.1);
    border-radius: 15px;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.bot{
    background: rgba(255, 255, 255, 0.1);
            border-radius: 15px;
            margin-top: 3em;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.3);
}

.cta {
    margin-top: 2em;
    animation: bounceIn 2s ease infinite alternate;
}

.cta button {
    background: linear-gradient(45deg, #00ced1, #ffd700);
    border: none;
    padding: 12px 25px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.cta button:hover {
    background: linear-gradient(45deg, #ffd700, #00ced1);
    transform: scale(1.05);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #00ced1;
}

p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto 2em;
    line-height: 1.6;
}

.recipe-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 2em;
}

.recipe-item {
    position: relative;
    background: #0b0909;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    width: 20%;
    overflow: hidden;
}

.recipe-item img {
    width: 100%;
    transition: transform 0.3s;
}

.recipe-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s;
}
.recipe-item:hover{
    transform: scale(1.05);
    background: #222;
    color: #fff;
    box-shadow: 0 0 30px #ffd700;
}
.recipe-item:hover img {
    transform: scale(1.1);
    box-shadow: #ffd700;
}

.recipe-item:hover .recipe-info {
    transform: translateY(0);
    box-shadow: #ffd700;
}

.recipe-details {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.recipe-details.active {
    display: flex;
    animation: fadeIn 1s ease-in-out;
    
}

.recipe-details h3 {
    margin-bottom: 20px;
    color: #ffd700;
}

.recipe-details ul {
    list-style: none;
    padding: 0;
}

.recipe-details ul li {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    color: #fff;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background: rgba(0, 128, 128, 0.1);
    backdrop-filter: blur(10px);
    transition: color 0.3s;
}

.footer .social-links {
    margin-bottom: 10px;
    transition: color 0.3s;
}

.footer .social-links a {
    color: #00ced1;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.footer .social-links a:hover {
    color: #ffd700;
    text-shadow: 0 0 10px #1877f2, 0 0 20px #1877f2, 0 0 30px #1877f2;
}

#loader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #00ced1;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translate3d(0, 100%, 0); }
    to { opacity: 1; transform: translate3d(0, 0, 0); }
}

@keyframes bounceIn {
    from { transform: translate3d(0, -20px, 0); }
    to { transform: translate3d(0, 0, 0); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
